<%- include('../../layout', { body: `
    <div class="row">
        <div class="col-lg-8">
            <div class="row" style='width:150%'>
                {% for item in data[10:22] %}
                <div class="col-lg-6">
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{item.Image}}" style="object-fit: cover;height:200px">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="/category/{{item.CategoryId}}">{{item.CategoryName}}</a>
                                <a class="text-body" href="/{{item.Id}}"><small>{{ item.PublishedAt.strftime('%d/%m/%Y %H:%M:%S') }}</small></a>
                            </div>
                            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="/{{item.Id}}">{{ item.Title[:30] }}...</a>
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <a href="/author/{{item.AuthorId}}"><img class="rounded-circle mr-2" src="{{item.userImg}}" width="25" height="25" alt="">
                                    <small>{{ item.Author }}</small></a>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
` }) %>
